@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/*ESCOPO GLOBAL*/
*{ 
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
    font-family: Montserrat, sans-serif;
    font-size: 11px;

}
/*Corpo body*/
body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(166, 184, 218);
    }

/*Bloco do Formulario*/
.container{
    width: 90%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgb(14, 13, 13);
        }

        /*Classe da IMAGEM DA ESQUERDA*/
.form-img{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: Center;
    background-color: #5f7ee6d7 ; 
    padding: 4rem;

}
/*IMAGEM DA ESQUERDA*/
.form-img img{
    width: 250px;
}

.head {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
    }

.title-form > h1{
    font-size: 25px;
    display: dis;
    justify-content: center;
    }

.title-form > p{
    font-size: 10px;
    display: block;
    text-align:center;
}

.categoria{
    display: block;
    font-weight: bold;
    font-size: 15px; 
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
        
}

.button button, a{
    border:none;
    background-color: rgb(166, 184, 218);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;


}
.input-group{
    display: grid;
    grid-template-columns: 220px 220px 220px;
    
    justify-content: space-between;
    padding: 1 rem 0;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    
}

.input-group label{
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 2%;
    
      
}

.input-data input{
    margin: 0.2rem;
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #000000d7;
    margin-right: 3rem;
}

.input-radio {
    display: flex;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(166, 218, 182);
}

.input-radio > div{
    display: inline-flex;
    margin-right: 5px;
    background-color: rgb(253, 236, 0);
    justify-content: space-between
}

.input-contact{
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    
    justify-content: left;
    padding: 1 rem 0;
}

.input-contact label{
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 2%;
    }

.input-contact-box{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    margin-bottom: 0.2rem;
}    

.input-adress{
    display: grid;
    grid-template-columns: 220px 220px 220px;
    justify-content: space-between;
    padding: 1 rem 0;

}

.input-contract{
    display: grid;
    grid-template-columns: 125px 125px 125px 125px 125px;
    justify-content: space-around;
    padding: 1 rem 0;
}

.input-contract-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    }

.input-modulo{
    display: flex;
    justify-content: space-evenly;
    
    
}
